body {
	font-family: 'Lato', sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 30px;
}

.header-left {
	display: flex;
}

.header-link {
	margin-right: 20px;
	border-bottom: 1px solid transparent;
}

.header-link a {
	text-decoration: none;
	color: gray;
	transition: 0.5s
}

.header-link:hover a {
	border-bottom: 1px solid black;
	color: black
}

.main {
	display: grid;
	grid-template-columns: auto;
	justify-items: center;
}

.contact {
	display: grid;
	grid-template-columns: 40px 40px 40px;
	grid-column-gap: 40px
}



.social-icon img{
	height: 100%;
	width: auto;
}